@{
var currentPage = MenuHelper.Current();
var currentPageName = currentPage.FullName;
}
<ul class="sf-menu">
  <li><a href="@Url.FrontUrl().PageUrl("Anasayfa")" @(currentPageName == "Anasayfa" ? "class=active" : string.Empty )>AnaSayfa</a></li>
    <li><a href="@Url.FrontUrl().PageUrl("Anasayfa/Hakkimizda")" @(currentPageName == "Anasayfa~Hakkimizda" ? "class=active" : string.Empty )>@("Hakkımızda".Label())</a></li>
    <li><a href="@Url.FrontUrl().PageUrl("Anasayfa/Hizmetlerimiz")" @(currentPageName == "Anasayfa~Hizmetlerimiz" ? "class=active" : string.Empty )>@("Hizmetlerimiz".Label())</a></li>
    <li><a href="@Url.FrontUrl().PageUrl("Anasayfa/Referanslarimiz")" @(currentPageName == "Anasayfa~Referanslarimiz" ? "class=active" : string.Empty )>@("Referanslar".Label())</a></li>
<li><a href="@Url.FrontUrl().PageUrl("Anasayfa/iletisim")" class="@(currentPageName == "Anasayfa~iletisim" ? "active " : string.Empty )item">@("İletişim".Label())</a></li>
</ul>