

<div class="content-indent">
  <div id="vmMainPage">
      <div class="clear">
          <div class="buttons_heading">
              <a href="http://livedemo00.template-help.com/virtuemart_33675/index2.php?option=com_virtuemart&page=shop.pdf_output&showpage=shop.product_details&pop=1&output=pdf&product_id=8&category_id=3&pop=1"
                  title="PDF" onclick="void window.open('index2.php?option=com_virtuemart&amp;page=shop.pdf_output&amp;showpage=shop.product_details&amp;pop=1&amp;output=pdf&amp;product_id=8&amp;category_id=3&amp;pop=1', '_blank', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');return false;">
                  <img src="images/M_images/pdf_button.png" alt="PDF" name="PDF" align="middle" border="0" /></a><a
                      href="http://livedemo00.template-help.com/virtuemart_33675/index2.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=8&option=com_virtuemart&Itemid=54&pop=1&tmpl=component"
                      title="Print" onclick="void window.open('index2.php?page=shop.product_details&amp;category_id=3&amp;flypage=flypage.tpl&amp;product_id=8&amp;option=com_virtuemart&amp;Itemid=54&amp;pop=1&amp;tmpl=component', '_blank', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');return false;"><img
                          src="images/M_images/printButton.png" alt="Print" name="Print" align="middle"
                          border="0" /></a><a href="index2.php~page=shop.recommend&product_id=8&pop=1&tmpl=component&option=com_virtuemart&Itemid=54.html"
                              title="E-mail" onclick="void window.open('index2.php?page=shop.recommend&amp;product_id=8&amp;pop=1&amp;tmpl=component&amp;option=com_virtuemart&amp;Itemid=54', '_blank', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no,screenX=100,screenY=200');return false;"><img
                                  src="images/M_images/emailButton.png" alt="E-mail" name="E-mail" align="middle"
                                  border="0" /></a>
          </div>
      </div>
      <div class="clear indent">
        <div style="float:left" class="browseProductImageContainer">
                                    <div class="browseProductImage">
                                        <a target="_blank" href="@ViewBag.Product.Image" title="Cargo Short "
                                            rel="lightbox[product8]">
                                            <img src="@Url.FrontUrl().ResizeImageUrl(ViewBag.Product.Image, 226, 202)"
                                                height="204" width="228" alt="Cargo Short " border="0" /><br />
                                            Resmi büyütmek için tıklayın</a>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                                <div class="floatElement">
                                    <h2 class="browseProductTitle">
                                        <span title="Cargo Short " class="product_name">@ViewBag.Product.Name </span>
                                    </h2>
                                    <div class="browsePriceContainer">
                                        <span class="productPrice">@ViewBag.Product.Price TL
                                        </span>
                                    </div>
                                    <div>
                                    </div>
                                    <div>
                                        @ViewBag.Product.Description
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                           
                    </div>