@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"Name")>@Html.Raw(Model.Name ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"PhoneNo")>@Html.Raw(Model.PhoneNo ?? "")</div>
		<div @ViewHelper.Edit(Model,"Fax")>@Html.Raw(Model.Fax ?? "")</div>
		<div @ViewHelper.Edit(Model,"EMail")>@Html.Raw(Model.EMail ?? "")</div>
		<div @ViewHelper.Edit(Model,"Address")>@Html.Raw(Model.Address ?? "")</div>
		<div @ViewHelper.Edit(Model,"SmallImage")>@Html.Raw(Model.SmallImage ?? "")</div>
		<div @ViewHelper.Edit(Model,"Logo")>@Html.Raw(Model.Logo ?? "")</div>
		<div @ViewHelper.Edit(Model,"Latitude")>@Html.Raw(Model.Latitude ?? "")</div>
		<div @ViewHelper.Edit(Model,"Longitude")>@Html.Raw(Model.Longitude ?? "")</div>
		<div @ViewHelper.Edit(Model,"Video")>@Html.Raw(Model.Video ?? "")</div>
	</div>
</div>
}