
@using Kooboo.CMS.Content.Models;
@using Kooboo.CMS.Content.Query;
@if(Model==null)
{
    @("The content was deleted.".Localize())
}
else
{
    var schema = (Kooboo.CMS.Content.Models.Schema)ViewData["Schema"];
    var allowedEdit = (bool)ViewData["AllowedEdit"];
    var allowedView = (bool)ViewData["AllowedView"];
    var workflowItem  = Model._WorkflowItem_;
    var hasWorkflowItem = workflowItem!=null;
    var availableEdit = hasWorkflowItem || (!hasWorkflowItem && allowedEdit);

    using(Html.BeginForm(ViewContext.RequestContext.AllRouteValues()["action"].ToString()
            , ViewContext.RequestContext.AllRouteValues()["controller"].ToString()
            , ViewContext.RequestContext.AllRouteValues()
            , FormMethod.Post, new RouteValueDictionary(new { enctype = "application/x-www-form-urlencoded" })))
{
    <div class="common-form">
    <fieldset>
    <table><tr>
            <td>
            <label for="Name">Adı</label><a href="javascript:;" class="tooltip-link" title='Hizmet Adı'></a>
            </td>
            <td>
            <input id="Name" name="Name" type="text" value="@(Model.Name ?? "")"  data-val-required="The Name field is required." data-val="true"/>
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Name"], null)
            </td>          
            </tr><tr>
            <td>
            <label for="Description">A&#231;ıklama</label><a href="javascript:;" class="tooltip-link" title='Hizmet Detayı'></a>
            </td>
            <td>
            
<textarea name="Description" id="Description" class="Description tinymce" media_library_url="@Url.Action("Selection","MediaContent",ViewContext.RequestContext.AllRouteValues()))"  media_library_title ="@("Selected Files".Localize())" rows="10" cols="100">@( Model.Description ?? "")</textarea>

            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Description"], null)
            </td>          
            </tr><tr>
            <td>
            <label for="Summary">&#214;zet</label><a href="javascript:;" class="tooltip-link" title='Hizmet &#214;zeti'></a>
            </td>
            <td>
            <input id="Summary" name="Summary" type="text" value="@(Model.Summary ?? "")"  data-val-required="The Summary field is required." data-val="true"/>
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Summary"], null)
            </td>          
            </tr><tr>
            <td>
            <label for="Image">Resim</label><a href="javascript:;" class="tooltip-link" title='Hizmet Resmi'></a>
            </td>
            <td>
            <input id="Image" name="Image" type="text" value="@(Model.Image ?? "")"  readonly="readonly"/>
<a href="javascript:;" class="o-icon add image-croper" inputid = "Image"></a>

<input id="Image-hidden" name="Image-hidden" type="hidden" value="@(Model.Image ?? "")"/>
<input type="hidden" name="Kooboo-Image-Crop-Field" value="Image"/>
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Image"], null)
            </td>          
            </tr>
            @if (allowedEdit) {
                <tr>
            <td>
            <label for="Published">Published</label>
            </td>
            <td>
            <input name="Published" type="checkbox" @(Convert.ToBoolean(Model.Published)?"checked":"") value="true"/>
                                    <input type="hidden" value="false" name="Published"/>
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Published"], null)
            </td>          
            </tr>
            }
    @Html.Action("Categories", ViewContext.RequestContext.AllRouteValues())
    </table>
    </fieldset>
     <p class="buttons">
        @if(availableEdit){
           <button type="submit">@("Save".Localize())</button>
            if(Model.IsLocalized !=null && Model.IsLocalized == false){<button type="submit" name="Localize" value="true">Localize</button>}            
            <a href="javascript:;" class="dialog-close button">@("Close".Localize())</a>            
        }
        else
        {
            <a href="javascript:;" class="dialog-close button">@("Close".Localize())</a>
            <a href="@Url.Action("WorkflowHistory","PendingWorkflow",ViewContext.RequestContext.AllRouteValues().Merge("UserKey", (object)(Model.UserKey)).Merge("UUID",(object)(Model.UUID)))" title="@("View workflow history".Localize())" class="button  dialog-link">@("View workflow history".Localize())</a>
            <a href="javascript:;" class="tooltip-link" title="@("The content is approving or you have not permission to publish.".Localize())"></a>
        }
       
     </p>
   </div>   
  }
}