<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  @Html.FrontHtml().Title()
  @Html.FrontHtml().Meta()
  @Html.FrontHtml().RegisterStyles()
  @Html.FrontHtml().RegisterScripts()
  <script type="text/javascript">
      $(document).ready(function () {
          $('#carousel_1').cycle({
              fx: 'scrollVert',
              prev: '.button_top',
              next: '.button_bot',
              timeout: 0,
              manualTrump: false
          });
      });
  </script>
</head>
<body id="page1">
<!--==============================header=================================-->
    <header>
    	<div class="container_24">
          <div class="inner">
                <h1>@Html.FrontHtml().RenderView("Logo",ViewData)</h1>
                <nav>
                    @Html.FrontHtml().RenderView("TopMenu",ViewData)
                </nav>
            </div>
        </div>
    </header>
  <!--==============================content================================-->
    <section id="content">
    	<div class="container_24">
         <div id="main_container" class="wrapper">
            <div id="left_column">
              <div style="padding:7px" class="grid_5 suffix_1 alpha">
            	@Html.FrontHtml().Position("left") 
              </div>
             </div>
                <div id="center_column">
                   <div class="grid_12 suffix_1">
              @Html.FrontHtml().Position("center") 
                       </div>
                </div>
                <div style="padding:7px" id="right_column">
                    <div class="grid_5 omega">
                @Html.FrontHtml().Position("right") 
                      </div>
                </div>
            </div>
        </div>
    </section>
<!--==============================footer=================================-->
    <footer>
    	<div class="container_24">
            <div class="wrapper ind-bot">
                <div class="grid_4 alpha suffix_1">
                  <h5>Şirketimiz</h5>
                  @Html.FrontHtml().RenderView("BottomMenu",ViewData)
                </div>
                <div class="grid_4 suffix_1">
                  <h5>Hizmetlerimiz</h5>
                  @Html.FrontHtml().RenderView("Services.BottomList",ViewData)
                </div>
                <div class="grid_4 suffix_2">
                  <h5>Referanslarımız</h5>
                  @Html.FrontHtml().RenderView("References.Bottom",ViewData)
                </div>
                <div class="grid_4 suffix_2">
                  <h5>İletişim</h5>
                  @Html.FrontHtml().RenderView("BottomContact",ViewData)
                </div>
            </div>          	
        </div>
    </footer>
    <script type="text/javascript">Cufon.now(); </script>
</body>
</html>
