 <style>
  #galleria{height:320px}
</style> 
<br />
<center>
<div class="content">
        <div id="galleria">
         
    @foreach (var item in ViewBag.Photos){
       <a href="@Url.FrontUrl().Url.Content(@item.Path)">
         @if(item.Path != null) {
            	<img title="@item.Name"
            	     alt="@item.Description"
         src="@Url.FrontUrl().ResizeImageUrl(item.Path,428,250)" />
         }
       </a>
    }
        </div>
    </div>
</center>

    <script>

    // Load the classic theme
	

	// Initialize Galleria
	$('#galleria').galleria();

    </script>